@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  max-width: 1920px;
  min-width: 320px;
  font-display: "Montserrat", sans-serif;
  margin: 0 auto;
}
/* Style for "menu" */
.menu_logo {
  margin: 0 auto;
  font-size: 3rem;
  margin: 1rem 0;
  text-align: start;
}
.menu {
  display: flex;
  margin: 0 9% 0 9%;
  list-style-type: none;
  justify-content: space-around;
}
.menu__item {
  justify-content: space-between;
  width: 80px;
  height: 19px;
  color: #596368;
  font-family: Tahoma;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid transparent;
}
.menu__item:hover {
  border: 1px solid;
  color: #ffff00;
}
/*  Style for menu responsive */
.icon {
  display: none;
}
@media (min-width: 500px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .menu {
    flex: 1;
  }
}
@media screen and (max-width: 1010px) {
  .menu__item {
    display: none;
  }
  .icon {
    float: left;
    margin-top: -17px;
    display: block;
    color: #ffff00;
    font-size: 35px;
  }
  .nav {
    width: 100%;
  }
  .menu.responsive {
    position: relative;
    top: 50px;
    left: -200px;
  }
  header .menu.responsive {
    height: 340px;
  }
  .menu.responsive a.icon {
    position: absolute;
    top: 50px;
    right: -200px;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .menu__item_button {
    display: none;
  }
  .menu_logo {
    display: none;
  }
}
.menu__item_button {
  width: 162px;
  height: 43px;
  box-shadow: 0 10px 30px rgba(255, 255, 0, 0.2);
  border-radius: 20px;
  border: 2px solid #ffff00;
  background-color: transparent;
  color: #ffff00;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.menu__item_button:hover {
  color: #ffffff;
  background-color: #ffffff;
  cursor: pointer;
}

@media all and (max-width: 10em) {
  .menu__item_button {
    margin: 0.4em auto;
  }
}
/* Style for "banner" */
.banner {
  background-image: url(img/background_banner.jpg);
  background-position: center;
  background-size: cover;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.banner_hi {
  width: 147px;
  height: 30px;
  color: #ffffff;
  font-family: "Leckerli One";
  font-size: 36px;
  font-weight: 400;
}
.banner_my {
  width: 554px;
  height: 61px;
  color: #ffffff;
  font-family: "Montserrat - Extra Bold";
  font-size: 60px;
  font-weight: 400;
  color: #0081ff;
}
.banner_i {
  width: 441px;
  height: 38px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 300;
}
.banner_text {
  width: 553px;
  height: 91px;
  color: #636363;
  font-family: Cambay;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}
.banner_button {
  width: 163px;
  height: 63px;
  box-shadow: 0 10px 30px rgba(146, 146, 146, 0.3);
  border-radius: 30px;
  background-color: white;
  background-color: transparent;
}
/* Text style for "section" */

#home {
  width: 1920px;
  margin: 0;
}

#service {
  width: 1920px;
  height: 1083px;
  background-color: #0081ff;
  margin-top: 0;
}
.txt_a {
  margin: 135px 1348px 919px 379px;
  width: 193px;
  height: 29px;
  color: #ffffff;
  font-family: "Leckerli One";
  font-size: 36px;
  font-weight: 400;
}
.txt_b {
  width: 511px;
  height: 198px;
  color: #ffffff;
  font-family: "Montserrat - Extra Bold";
  font-size: 42px;
  font-weight: 400;
  line-height: 52px;
}
.txt_c {
  width: 552px;
  height: 229px;
  color: #ffffff;
  font-family: Cambay;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
/*#portfolio {

}
#clients {

}*/
